/*
辅助类
*/
.pos-relative{
    position: relative;
}
.pos-absolute{
    position: absolute;
}

/*
自定义地图相关样式
*/
.ol-control, .ol-scale-line {
    padding: 1px;
}
/*鹰眼图*/
.ol-overviewmap{
    left: 10px;
}
.ol-overviewmap:not(.ol-collapsed){
    width: 152px;
    height: 152px;
}
.ol-overviewmap button{
    width: 22px;
    height: 22px;
    font-size: 15px;
    line-height: 22px;
}
.ol-overviewmap:not(.ol-collapsed) button{
    bottom: 1px;
    left: 0px;
}
.ol-overviewmap .ol-overviewmap-map {
    width: 150px;
    height: 150px;
    margin: 0px;
    border: 1px solid #7b98bc;
}

/*比例尺*/
.ol-scale-line{
    background-color: rgba(0, 60, 136, 0.5);
}
.ol-scale-line-inner{
    font-family: "Microsoft YaHei";
}

/*控件主题*/
.ol-myzoom{
    top: 5px;
    right: 5px;
    left: auto;
    background: none;
}
.ol-myzoom:hover{
    background: none;
}
.ol-myzoom button{
    display: block;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 4px;
    color: #646464;
    font-size: 19px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    height: 1.375em;
    width: 1.375em;
    line-height: .4em;
    background-color: #ffffff;
    border: none;
    box-shadow: 0px 1px 0.6px rgba(0, 0, 0, 0.3);
}
.ol-myzoom button:focus{
    background-color: #ffffff;
    border: none;
    outline: none;
}
.ol-myzoom button:hover{
    color: #505050;
    background-color: #ffffff;
}

/*图层管理*/
.map{
    position: relative;
}
.layer-manager-container{
    left: calc(100% - 150px - 10px);
    top: 50px;
    border: 1px solid #dcdcdc;
    background-color: #eeeeee;
    z-index: 620;
}
.layer-manager-container.in-map{
    width: 150px;
}
.layer-manager-container.normal{
    width: 100%;
}
.layer-manager-container h4{
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    background-color: #6a88ae;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    letter-spacing: 1px;
    line-height: 30px;
}
.layer-manager-container div{
    margin-top: 0px;
    width: 100%;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}
.layer-manager-container ul{
    margin-top: 0px;
    width: 100%;
}

/*自定义图标*/
.ztree li span.button.layersIcon_ico_open{
    background: url("../image/layerIcons.png") no-repeat 0px 0px;
}
.ztree li span.button.layersIcon_ico_close{
    background: url("../image/layerIcons.png") no-repeat -16px 0px;
}
.ztree li span.button.layersIcon_ico_docu{
    background: url("../image/layerIcons.png") no-repeat 0px -15px;
}
.ztree li span.button.layerIcon_ico_docu{
    background: url("../image/layerIcons.png") no-repeat 0px -15px;
}

/*覆盖样式*/
.ztree li a{
    text-decoration: none !important;
}
